<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/highlight.min.css">
    <script src="/highlight.min.js"></script>
</head>
<body>
<script>
    hljs.initHighlightingOnLoad();
</script>
<div class="centered">
<pre><h1>{{source_title }}</h1></pre>
<pre><code>{{  source_code }}</code></pre>
</div>
</body>
</html>


